<nav class="navbar navbar-light mb-3" style="background-color: #82b4eb">
  <span class="navbar-brand mb-0 h1"><i class="fa fa-calendar"></i> Calendar</span>
  <div *ngIf="model.username">
    <span class="navbar-text mr-3 font-weight-bold"> Hello {{model.username}}!</span>
    <button class="btn btn-outline-primary" type="button" (click)="logout()">Logout</button>
  </div>
</nav>
<p-messages [value]="msgs"></p-messages>

<p-confirmDialog [style]="{width: '50vw'}" key="save"></p-confirmDialog>

  <form name="form" #f="ngForm" (submit)="f.form.valid && addEvent()" novalidate>
<div class="main-div">
<div>
  <input placeholder="Title" id="title" name="title" type="text" size="30" pInputText [(ngModel)]="model.title"
         #title="ngModel" [ngClass]="{'is-invalid': f.submitted && title.invalid}" required/>

  <div *ngIf="f.submitted && title.invalid" class="invalid-input">
    <div *ngIf="title.errors?.required" class="invalid-input"> This field is required </div>
  </div>
</div>

  <div class="switch-div">
    <span style="margin-right: 20px">All day</span>
    <p-inputSwitch [(ngModel)]="checkedFlag" name="inputSwitch"></p-inputSwitch>
  </div>
  <p>From :</p>
  <p-spinner [inputStyle]="{'margin-left': '5px'}"
             size="10" [(ngModel)]="spinnerDayStart" [min]="1" [max]="31" name="spinnerday"></p-spinner>
  <span [ngStyle]="{'margin-right': '10px'}"></span>
  <mat-form-field>
    <mat-label>Select a month</mat-label>
    <mat-select [(value)]="selectedMonthStart">
      <mat-option>None</mat-option>
      <mat-option value="01">January</mat-option>
      <mat-option value="02">February</mat-option>
      <mat-option value="03">March</mat-option>
      <mat-option value="04">April</mat-option>
      <mat-option value="05">May</mat-option>
      <mat-option value="06">June</mat-option>
      <mat-option value="07">July</mat-option>
      <mat-option value="08">August</mat-option>
      <mat-option value="09">September</mat-option>
      <mat-option value="10">October</mat-option>
      <mat-option value="11">November</mat-option>
      <mat-option value="12">December</mat-option>
    </mat-select>
  </mat-form-field>

  <p-spinner [inputStyle]="{'margin-left': '10px'}" size="10" [(ngModel)]="spinnerYearStart"
             [min]="2000" [max]="2030" name="spinneryear"></p-spinner>

  <br>
<div *ngIf="!checkedFlag">
  <span>Time </span>
  <p-calendar id="timeS" name="timeS" [(ngModel)]="timeStart"
              #timeS="ngModel"[timeOnly]="true" [ngClass]="{'is-invalid': f.submitted && timeS.invalid}"
              required ></p-calendar>

  <div *ngIf="f.submitted && timeS.invalid" class="invalid-input">
    <div *ngIf="timeS.errors?.required" class="invalid-input"> This field is required </div>
  </div>
</div>
  <br>
  <p>To :</p>
  <p-spinner [inputStyle]="{'margin-left': '5px'}" size="10" [(ngModel)]="spinnerDayEnd"
             [min]="1" [max]="31" name="spinnerdaye"></p-spinner>
  <span [ngStyle]="{'margin-right': '10px'}"></span>
  <mat-form-field>
    <mat-label>Select a month</mat-label>
    <mat-select [(value)]="selectedMonthEnd">
      <mat-option>None</mat-option>
      <mat-option value="01">January</mat-option>
      <mat-option value="02">February</mat-option>
      <mat-option value="03">March</mat-option>
      <mat-option value="04">April</mat-option>
      <mat-option value="05">May</mat-option>
      <mat-option value="06">June</mat-option>
      <mat-option value="07">July</mat-option>
      <mat-option value="08">August</mat-option>
      <mat-option value="09">September</mat-option>
      <mat-option value="10">October</mat-option>
      <mat-option value="11">November</mat-option>
      <mat-option value="12">December</mat-option>
    </mat-select>
  </mat-form-field>

  <p-spinner [inputStyle]="{'margin-left': '10px'}" size="10" [(ngModel)]="spinnerYearEnd"
             [min]="2000" [max]="2030" name="spinneryeare"></p-spinner>

  <br>

  <div *ngIf="!checkedFlag">
  <span>Time </span>
  <p-calendar  id="timeE" name="timeE" [(ngModel)]="timeEnd"
              #timeE="ngModel" [timeOnly]="true" [ngClass]="{'is-invalid': f.submitted && timeE.invalid}"
              required ></p-calendar>

  <div *ngIf="f.submitted && timeE.invalid" class="invalid-input">
    <div *ngIf="timeE.errors?.required" class="invalid-input"> This field is required </div>
  </div>
  </div>

  <button pButton type="submit" label="Save" class="ui-button-rounded"></button>
  <button pButton type="button" label="Cancel" (click)="cancel()" class="ui-button-rounded"></button>
</div>
</form>
