p, span{
  font-size: 18px;
  font-family: 'Brie Serif', cursive;
}

.switch-div{
  margin-top: 20px;
}

.invalid-input {
  font-size: small;
  color: red;
}

.main-div{
  text-align: center;
  margin-top: 20px;
}

button {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
