<nav class="navbar navbar-light mb-3" style="background-color: #82b4eb">
  <span class="navbar-brand mb-0 h1"><i class="fa fa-calendar"></i> Calendar</span>
  <div *ngIf="model.username">
  <span class="navbar-text mr-3 font-weight-bold"> Hello {{model.username}}!</span>
    <button class="btn btn-outline-primary" type="button" (click)="logout()">Logout</button>
  </div>
</nav>
<p-confirmDialog [style]="{width: '50vw'}" key="date"></p-confirmDialog>

<app-modification-dialog #md></app-modification-dialog>

<p-messages [value]="msgs"></p-messages>

<div class="cal">
  <p-calendar [(ngModel)]="dateValue" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
  <button pButton type="button" label="View" (click)="viewMonth()" class="ui-button-rounded" style="margin-left: 5px"></button>
</div>

<div class="full-cal">
  <p-fullCalendar #fc [events]="events" [options]="options">  </p-fullCalendar>
</div>
