<p-confirmDialog [style]="{width: '50vw'}" key="date"></p-confirmDialog>

<app-modification-dialog #md></app-modification-dialog>

<p-messages [value]="msgs"></p-messages>

<div [ngClass]="'cal'">
  <p-calendar [(ngModel)]="dateValue" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
  <button pButton type="button" label="View" (click)="viewMonth()" class="ui-button-rounded" style="margin-left: 5px"></button>
</div>

<div [ngClass]="'full-cal'">
  <p-fullCalendar #fc [events]="events" [options]="options">  </p-fullCalendar>
</div>
